#carter {
  display: flex;
  padding-bottom: 150px;
}

.cart_box {
  width: 700px;
  height: 180px;
  background-color: teal;
  margin-left: 250px;
  border-radius: 8px;
}
.cart_box1 {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-top: 15px;
}
.cart_box1 > img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.cart_box1 > p {
  margin-right: 40px;
  color: rgb(236, 232, 232);
  font-size: 13px;
}
.cart_box2 > p {
  margin-left: 20px;
  color: rgb(240, 235, 235);
  font-size: 19px;
}

.cart_box3 {
  display: flex;
  margin-top: 20px;

  width: 95%;
  margin: auto;
  height: 40px;
  background-color: white;
  border-radius: 4px;
}
.cart_box3 > p {
  color: teal;
  align-items: center;
  margin-top: 10px;
  margin-left: 9px;
  width: 150px;
}
.cart_box3 > img {
  width: 12px;
  height: 12px;
  margin-left: 15px;
  margin-top: 13px;
}
.cart_box3 > .search > img {
  padding-top: 13px;
  margin-left: 24px;
  width: 16px;
}
.cart_box3 div {
  border: 0.1px solid rgb(218, 218, 218);
  height: 17px;
  margin-top: 9px;
  margin-left: 10px;
  margin-right: 10px;
}
.cart_box3 input {
  width: 350px;
  border: none;
  font-size: 15px;
}
.cart_box_side {
  float: right;
  margin-top: -190px;
}
.cart_box_side > h2 {
  margin-right: 400px;
  color: rgb(173, 168, 168);
  font-size: 24px;
  padding-top: 150px;
  width: 300px;
  padding-left: 100px;
}
.cart_box_side > img {
  padding-left: 200px;
  width: 150px;
}
