.review {
  margin-left: 150px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 60px;
}
.footerpartreview {
  margin-left: 130px;
  margin-top: 200px;
  margin-bottom: 120px;
}
.footerpartreview a {
  color: black;
  border-bottom: none;
  font-size: 12px;
}
.footerpartreview h6 {
  font-weight: bold;
}
.footerpartreview p {
  font-size: 15px;
}
