* {
  font-family: Open Sans, sans-serif !important;
}
hr {
  height: 0.5px;
  background-color: rgb(238, 235, 235);
  border: rgb(238, 235, 235);
}
#bot1 {
  width: 60%;
  margin: auto;
  display: flex;
}
#bot1 > div {
  flex-basis: 30.3%;
  margin: 1.5%;
  padding: 40px 24px;
}
#bot1 > div > p {
  color: #8897a2;
  line-height: 1.2;
  max-width: 220px;
  font-size: 17px;
}
#mob {
  width: 70%;
  margin: 80px auto;
  display: flex;
}
#mob > .mobimg > img {
  width: 210px;
  height: 420px;
  padding-right: 110px;
}
.app {
  width: 400px;
}
#txt {
  margin-top: 20px;
  font-size: 20px;
  color: #4f585e;
  margin-left: 2.5%;
  line-height: 1.25;
  font-weight: 400;
}
.logflx {
  display: flex;
  margin-top: 30px;
}
.log {
  background-color: #4f585e;
  color: white;
  flex-basis: 40%;
  margin: 2.5%;
  padding: 12px 15px;
  border-radius: 5px;
}
.log:hover {
  background-color: rgb(75, 75, 75);
}
.log > img {
  width: 25px;
  float: left;
}
.log > p {
  float: left;
  margin-left: 15px;
  margin-top: 0;
  font-size: 14px;
  padding-top: 8px;
  letter-spacing: -0.3px;
}
#bot3 {
  width: 100%;
  padding: 5% 10%;
  margin: auto;
  background-color: rgb(244, 247, 251);
}
#b3first {
  display: flex;
}
#feat {
  display: flex;
  width: 60%;
}
#feat > div {
  flex-basis: 100%;
}
#bot3 h4 ~ p {
  color: #8897a2;
  line-height: 1.1;

  font-size: 16px;
}
span > img {
  height: 2rem;
  margin: 0.5rem;
}
#b3sec {
  display: flex;
}
#copy {
  padding-left: 3rem;
  padding-top: 4rem;
  margin-left: 3rem;
  text-align: right;
}
#social > img {
  color: white;
  width: 25px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #ef7b81;
  padding: 10px;
  border-radius: 22px;
  margin: 0.75rem;
}
#social > img:hover {
  transform: scale(1.2);
}
#feat p:hover {
  color: rgb(16, 132, 126);
}
