* {
  font-family: Open Sans, sans-serif !important;
}
header {
  background-color: teal;
  width: 102%;
  height: 150px;
  margin-left: -8px;
  position: relative;
  margin-top: -10px;
}
header #header1 {
  width: 100%;
  padding-top: 20px;
  display: flex;
  background-size: cover;
  background-color: teal;
}
header #header1 > img {
  width: 160px;
  height: 50px;
  margin-left: 90px;
}
header .select {
  border: 1px solid blue;
  width: 850px;
  height: 45px;
  margin-left: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 5px;
  border: none;
}
header .select p {
  width: 140px;
  font-size: 18px;
  color: rgb(16, 132, 126);
  margin-top: 13px;
  margin-left: 20px;
  font-weight: bold;
}
header .select > img {
  width: 15px;
  height: 15px;
  margin-left: 20px;
  margin-top: 17px;
  color: rgb(136, 151, 162);
}
header .select div {
  border: 0.5px solid rgb(223, 227, 230);
  height: 20px;
  margin-top: 13px;
  margin-left: 20px;
}
header .select input {
  border: none;
  width: 400px;
  margin-left: 20px;
  font-size: 17px;
  color: rgb(186, 206, 207);
}
header .select .search img {
  padding-top: 11px;
  padding-right: 11px;
  width: 18px;
  margin-left: 210px;
}
header #header1 .headerleft {
  margin-left: 50px;
  width: 200px;
  height: 40px;
  font-size: 13px;
  color: white;
  padding: 5px;
  background-color: rgb(13, 108, 103);
  border-radius: 8px;
  border: none;
  display: flex;
}
.headerleft > img {
  width: 10px;
  height: 10px;
  margin-top: 20px;
  margin-left: -80px;
}
header #header1 .headerleft i {
  margin-top: 20px;
  margin-left: -80px;
}
header #header2 {
  width: 100%;
  padding-top: 20px;
  display: flex;
}
header #header2 .downhead {
  margin-left: 320px;
  color: white;
  font-size: 16px;
}
header #header2 .downhead span {
  padding-right: 40px;
}
header #header2 .righthead {
  display: flex;
  margin-left: 250px;
}
header #header2 .righthead img {
  padding-right: 8px;
  width: 35px;
  height: 30px;
}
header #header2 .righthead p {
  padding-right: 40px;
  color: white;
  margin-top: 8px;
}
/* image sliding */
#cont {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
#cont > img {
  max-width: 100%;
  margin: auto;
}
.btn_slide {
  width: 30px;
  height: 100px;
}
/* next part */
#svgs {
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-left: 120px;
}
#svgs > #insvg1,
#svgs > #insvg2,
#svgs > #insvg3 {
  display: flex;
  flex-direction: column;
  background-image: url("imag/doc.png"), url("imag/gre1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 55vh;
  min-height: 28vh;
  margin-right: 20px;
  border: 0.5px solid rgb(207, 207, 207);
  border-radius: 6px;
  justify-content: space-around;
  background-position: right, left;
  background-size: 10vw 10vw, contain;
}
#svgs > div > h3 {
  color: rgb(79, 88, 94);
  padding: 1.5em;
  margin-top: 9px;
}
#svgs > .fon > button {
  height: 40px;
  width: 30%;
  margin: 1rem 1.5rem;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}
#insvg1 > button {
  background-color: rgb(64, 186, 153);
  border: none;
}
#insvg1 > button:hover {
  color: rgb(64, 186, 153);
  background-color: white;
  border: 2px solid rgb(64, 186, 153);
}
#insvg2 > button {
  background-color: rgb(252, 128, 25);
  border: none;
}
#insvg2 > button:hover {
  color: rgb(252, 128, 25);
  background-color: white;
  border: 2px solid rgb(252, 128, 25);
}
#insvg3 > button {
  background-color: rgb(0, 185, 225);
  border: none;
}
#insvg3 > button:hover {
  color: rgb(0, 185, 225);
  background-color: white;
  border: 2px solid rgb(0, 185, 225);
}
#svgs > #insvg2 {
  background-image: url("imag/doc.png"), url("imag/yel2.svg");
  background-position: right, left;
  background-size: 10vw 10vw, contain;
}
#svgs > #insvg3 {
  background-image: url("imag/doc.png"), url("imag/blue3.svg");
  background-position: right, left;
  background-size: 10vw 10vw, contain;
}
#membership {
  display: flex;
  width: 85%;
  height: 90px;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 5px;
  background-image: linear-gradient(
    40deg,
    rgb(169, 154, 250) 20%,
    rgb(162, 145, 250) 20%,
    rgb(162, 145, 250) 85%,
    rgb(169, 154, 250) 85%
  );
  margin-left: 120px;
}
#membership img {
  width: 150px;
  height: 30px;
  margin-left: 20px;
}
#membership p {
  color: white;
  margin-left: 90px;
  font-size: 20px;
}
#membership .img2 {
  height: 129px;
  margin-left: 320px;
  padding-bottom: 40px;
}
#imagesbar {
  display: flex;
  width: 180px;
  height: 120px;
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 120px;
}
#imagesbar img {
  padding-right: 30px;
}
.offers {
  display: flex;
  margin-left: 120px;
}
.offers h2 {
  padding-left: 30px;
  margin-top: 10px;
}

.offerflexbar {
  display: flex;
  margin-left: 120px;
}
.offerslide {
  display: flex;
  border: 2px solid lightgrey;
  width: 500px;
  height: 100px;
  text-align: center;
  align-items: center;
  margin-right: 40px;
  margin-top: 30px;
  border-radius: 5px;
}
.carousel {
  margin-left: 70px;
  margin-right: 85px;
}
.offerslide > img {
  width: 70px;
  height: 70px;
  margin-left: 5px;
}
.offerslide > pre {
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: -50px;
  padding-bottom: 30px;
}
.offerslide {
  display: flex;
  border: 2px solid lightgrey;
  margin-right: 20px;
  width: 250px;
}

.offerslide > img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Rec Lab */

#lab {
  width: 100%;
  background-color: rgb(212, 226, 250);
  height: 300px;
  padding: 3% 5%;
  margin: 5% auto;
  margin-bottom: 12%;
}
#lab > h3 {
  font-weight: 700;
  font-size: 20px;
  color: rgb(79, 88, 94);
}
#slid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1366px;
  box-sizing: content-box;
  overflow: hidden;
  clear: both;
}

.car {
  width: 30rem;
  max-width: 100%;
  margin: 1rem;
  background-color: white;
  padding: 1rem;
  border: 1px solid rgb(223, 227, 230);
  border-radius: 8px;
}
.invi {
  background-color: transparent;
  border: none;
}
.car > ul {
  list-style: none;
  padding: 0;
}
.car > ul > li {
  font-size: 18px;
  padding: 5px 0;
  color: rgb(79, 88, 94);
}
.car > .pribut > p {
  font-weight: 900;
  font-size: 16px;
}
.car > .pribut > p > span {
  font-weight: 500;
}
.pribut {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.car button {
  background-color: white;
  height: auto;
  border: none;
  border-radius: 8px;
  color: rgb(18, 133, 127);
  font-size: 16px;
  font-weight: 900;
}
.car:hover button {
  border: 2px solid rgb(18, 133, 127);
  background-color: rgb(18, 133, 127);
  color: white;
}
.car:hover {
  border: 2px solid rgb(18, 133, 127);
}
#buts {
  width: 100px;
  height: 50px;
  display: flex;
  float: right;
  margin-top: -50px;
}
#buts > button {
  background-color: white;
  border: none;
  margin: 10px;
}
#buts > button > img {
  width: 30px;
  border-radius: 5px;
}
.cross {
  color: white;
  background: teal;
  width: 53px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  padding: 9px;
  margin-top: 40px;
  margin-left: 69%;
  cursor: pointer;
}
.popup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 660%;
  position: fixed;
  top: 0;
  display: none;
}
.pop_content {
  height: 15%;
  width: 420px;
  background: white;
  float: right;
  margin-top: -80px;
}
.lohead {
  width: 100%;
  height: 120px;
  background-color: rgb(16, 132, 126);
}
.head > img {
  width: 50%;
  align-self: center;
  padding-top: 30px;
  display: flex;
  background-color: rgb(16, 132, 126);
  height: 92px;
  padding-left: 4%;
}
.headright > img {
  margin-left: 250px;
  height: 108px;
  margin-top: -81px;
  width: 171px;
  float: left;
}
.login {
  text-align: center;
  font-size: large;
  font-weight: bold;
  width: 62%;
  font-size: 19px;
  margin-top: 20px;
  color: rgb(78, 66, 66);
}

.go {
  margin-top: 30px;
  width: 81%;
  margin-left: 38px;
  padding: 10px 8px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 6px;
  color: white;
  background-color: teal;
  margin-bottom: 15px;
  border: none;
}
#entry > input {
  text-align: center;
  width: 81%;
  margin-left: 36px;
  margin-top: 20px;
  font-size: 15px;
  height: 43px;
  border-radius: 5px;
  border: 0.5px solid rgb(75, 74, 74);
}
.foot {
  text-align: center;
  font-size: 15px;
  color: rgb(105, 97, 97);
  width: 80%;
  margin-left: 33px;
}
.foot > a {
  color: teal;
  font-size: 12px;
}

.otpflex {
  max-width: 90%;
  display: flex;
  margin: auto;
  flex-direction: row;
}
.otpflex > input {
  width: 20%;
  height: 2.5rem;
  margin: 5%;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgb(136, 151, 162);
}
.resendflex {
  max-width: 90%;
  color: rgb(30, 139, 134);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
