
header {
  background-color: teal;
  width: 100%;
  height: 150px;
  margin: 0px;
  padding: 0px;
}
header #header1 {
  width: 100%;
  padding-top: 20px;
  display: flex;
}
header #header1 img {
  width: 150px;
  height: 50px;
  margin-left: 100px;
}
header #header1 input {
  width: 750px;
  margin-left: 60px;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 50px;
  border: none;
}
header #header1 a i {
  color: rgb(100, 97, 97);
  margin-left: -54px;
  width: 30px;
  background-color: rgb(221, 237, 243);
  height: 22px;
  padding: 18px 11px;
  margin-top: 2px;
  border-radius: 10px;
}
header #header1 .headerleft {
  margin-left: 50px;
  width: 200px;
  font-size: 18px;
  color: white;
  padding: 10px;
  background-color: rgb(70, 68, 68);
  border-radius: 8px;
  border: none;
}
header #header2 {
  width: 100%;
  padding-top: 20px;
  display: flex;
}
header #header2 .downhead {
  margin-left: 320px;
  color: white;
  font-size: 18px;
}
header #header2 .downhead span {
  padding-right: 40px;
}
header #header2 .righthead {
  display: flex;
  margin-left: 250px;
}
header #header2 .righthead img {
  padding-right: 8px;
}
header #header2 .righthead p {
  padding-right: 40px;
  color: white;
  margin-top: 3px;
}
