.plusimg {
  display: flex;
  background-color: rgb(133, 115, 225);
  width: 312px;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 5px;
}
.plusimg > img {
  width: 30px;
  height: 30px;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.plusimg > p {
  color: white;
  padding-left: 10px;
}
#left_box {
  height: 800px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 312px;
  margin-right: 40px;
  cursor: pointer;
}
.pay_main {
  display: flex;
  margin-left: 300px;
  margin-top: 60px;
}
.name1 {
  border-radius: 15px;
  background: teal;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
}
.name1 > p {
  text-align: center;
  padding-top: 7px;
}
.bag {
  padding: 7px;
  display: flex;
  margin-top: 15px;
}

.bag > img {
  margin-left: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.bag_p {
  margin-top: -15px;
  margin-left: 20px;
}
.bag_p:nth-child(1) {
  color: lightgrey;
  padding-top: -20px;
}
.name {
  font-size: 20px;
  padding-top: 20px;
}

.profile > a {
  color: rgb(82, 76, 76);
  padding: 30px;
  font-weight: 600;
}

.edit_part {
  height: 550px;
  margin-top: 27px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 612px;
  margin-right: 40px;
  box-shadow: 0px 1px 15px lightgrey;
}
.entry {
  padding: 20px;
}

.entry > span {
  color: red;
}
.entry > input {
  width: 520px;
  height: 40px;
  margin-top: 15px;
}
.sub_for_offer {
  width: 540px;

  background-color: rgb(255, 247, 228);
  padding: 20px;
  height: 200px;
  margin-left: 17px;
}
.sub_for_offer > img {
  float: right;
  margin-top: -50px;
}
.sub_for_offer > input {
  width: 500px;
  height: 40px;
}
.sub_for_offer > button {
  height: 45px;
  width: 150px;
  margin-top: 15px;
  font-weight: 700;
  border-radius: 6px;
  background: rgb(255, 247, 228);
  border: 1px solid black;
}
#save {
  float: right;
  height: 38px;
  width: 114px;
  margin-top: 12px;
  margin-right: 16px;
  background: rgb(10, 87, 83);
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 5px;
}
