#big {
  width: 70%;
  margin: auto;
  display: flex;
  margin-bottom: 10%;
}
#left {
  flex: 2;
  margin: 0 20px;
}
#rig {
  flex: 1;
  margin: 0 20px;
}

#left > div {
  display: flex;
  flex-direction: row;
}
#l1 {
  justify-content: space-between;
  background-color: rgb(16, 132, 126);
  margin-top: 100px;
  padding: 30px;
  color: white;
  border-radius: 10px;
}
#l2 {
  justify-content: space-between;
  background-color: rgb(59, 184, 150);
  color: white;
  margin-top: 70px;
  padding: 25px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}
#l2 > div > button {
  width: 150px;
  height: 40px;
  background-color: white;
  color: rgb(16, 132, 126);
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  border: none;
}
#diag {
  margin-top: 100px;
  border: 1px solid gray;
  border-radius: 10px;
}
#diag > img {
  width: 100%;
  margin: auto;
}
#rig > button {
  width: 100%;
  margin-top: 80px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(16, 132, 126);
  color: white;
  border-radius: 8px;
  border: none;
}
