#slidershow {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 260px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 100%;
  height: 300px;
}

.navigation {
  position: absolute;
  width: 800px;
  display: flex;
  justify-content: center;
  margin-left: 400px;
}
.bar {
  padding: 4px;
  background-color: rgb(85, 83, 83);
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}
.bar:not(:last-child) {
  margin-right: 40px;
}
.bar:hover {
  background: grey;
}
#r1:checked ~ .s1 {
  margin-left: 0%;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}
#r5:checked ~ .s1 {
  margin-left: -80%;
}
#r6:checked ~ .s1 {
  margin-left: -100%;
}
#navi-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
#navi-auto div {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
#navi-auto div:not(:last-child) {
  margin-right: 40px;
}
#r1:checked .navi-auto .auto-btn1 {
  background: black;
}
#r2:checked .navi-auto .auto-btn2 {
  background: black;
}
#r3:checked .navi-auto .auto-btn3 {
  background: black;
}
#r4:checked .navi-auto .auto-btn4 {
  background: black;
}
#r5:checked .navi-auto .auto-btn5 {
  background: black;
}
#r6:checked .navi-auto .auto-btn6 {
  background: black;
}

/* /* header {
  width: 90%;
  height: 90px;
  background-color: rgb(16, 132, 126);
} */
/* .head > img {
  width: 40%;
  padding-top: 20px;
  display: flex;
  background-color: rgb(16, 132, 126);
  height: 40px;
  padding-left: 4%;
}
.headright > img {
  margin-left: 250px;
  height: 70px;
  margin-top: -40px;
  width: 130px;
  float: left;
}
.login {
  text-align: center;
  font-size: large;
  font-weight: bold;
  width: 80%;
  font-size: 24px;
  color: rgb(78, 66, 66);
}

.go {
  margin-top: 30px;
  width: 90%;
  padding: 10px 8px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  color: white;
  background-color: teal;
  margin-bottom: 15px;
  border: none;
}
#entry > input {
  text-align: center;
  width: 90%;
  margin-top: 20px;
  font-size: 15px;
  height: 35px;
  border-radius: 5px;
  border: 0.5px solid rgb(75, 74, 74);
}
.foot {
  text-align: center;
  font-size: 15px;
  color: rgb(105, 97, 97);
  width: 80%;
}
.foot > a {
  color: teal;
  font-size: 12px;
}  */
